In [21]:
t1 = (234,34,"Khitish",3.45,True)

In [2]:
l1 =[234,34,"Khitish",3.45,True]

In [3]:
print(type(t1))
print(type(l1))

<class 'tuple'>
<class 'list'>

In [4]:
t1[::-1]

(True, 3.45, 'Khitish', 34, 234)

In [5]:
l1[0]="sahu"

In [6]:
l1

['sahu', 34, 'Khitish', 3.45, True]

In [8]:
t1[0]= "fhashk"

TypeError: 'tuple' object does not support item assignment

In [22]:
t2=(234,34,565)

In [23]:
t1+t2

(234, 34, 'Khitish', 3.45, True, 234, 34, 565)

In [16]:
t1= t1+t2

In [34]:
t1

(234, 34, 'Khitish', 3.45, True)

In [15]:
id(t1)

2466450497704

In [20]:
id(t1+t2)

2466452022184

In [24]:
34 in t1

True

In [26]:
"fsdafa" in t1

False

In [27]:
t1.index(34)

1

In [28]:
t1.index(3)

ValueError: tuple.index(x): x not in tuple

In [29]:
if len(t1) == len(t2):
    print("its same")
else:
    print("not same")

not same

In [33]:
i = input("take a user input ")

if i in t1:
    print("yes your name is available")
else:
    print("your name is not available")

take a user input khitish
your name is not available

In [40]:
s =set()

In [41]:
s.add('shajhsja')

In [42]:
s.add('huikhka')

In [43]:
type(s)

set

In [44]:
s

{'huikhka', 'shajhsja'}

In [45]:
x1={34,35}

In [46]:
type(x1)

set

In [54]:
x2={"name":"khitish", "age":30, "name":"fdgfajg", True:'ijkadhk','key':False,"jskdjak":[34,54,34,67,89]}

In [55]:
x2

{'name': 'fdgfajg',
 'age': 30,
 True: 'ijkadhk',
 'key': False,
 'jskdjak': [34, 54, 34, 67, 89]}

In [57]:
x2['jskdjak'][1]

54

In [58]:
data = input("input a paragraph")

input a paragraphThe oldest classical Greek and Latin writing had little or no space between words and could be written in boustrophedon (alternating directions). Over time, text direction (left to right) became standardized, and word dividers and terminal punctuation became common. The first way to divide sentences into groups was the original paragraphs, similar to an underscore at the beginning of the new group.[2] The Greek parágraphos evolved into the pilcrow (¶), which in English manuscripts in the Middle Ages can be seen inserted inline between sentences. The hedera leaf (e.g. ☙) has also been used in the same way.

In [59]:
data

'The oldest classical Greek and Latin writing had little or no space between words and could be written in boustrophedon (alternating directions). Over time, text direction (left to right) became standardized, and word dividers and terminal punctuation became common. The first way to divide sentences into groups was the original paragraphs, similar to an underscore at the beginning of the new group.[2] The Greek parágraphos evolved into the pilcrow (¶), which in English manuscripts in the Middle Ages can be seen inserted inline between sentences. The hedera leaf (e.g. ☙) has also been used in the same way.'

In [71]:
l = data.split(" ")

In [73]:
s = set(l)

In [83]:
d = {}
for i in s:
    d[i]= "khitish"

In [88]:
tuple(d.keys())

('common.',
 '(left',
 'oldest',
 'used',
 'English',
 '☙)',
 'became',
 'pilcrow',
 'inserted',
 'be',
 'sentences.',
 'words',
 'or',
 'hedera',
 'in',
 'between',
 'evolved',
 'parágraphos',
 'paragraphs,',
 'Latin',
 'standardized,',
 'seen',
 'Ages',
 'which',
 'sentences',
 'right)',
 'original',
 'into',
 'to',
 'and',
 'been',
 'word',
 'way.',
 'also',
 'similar',
 'group.[2]',
 'could',
 'was',
 '(e.g.',
 'way',
 'groups',
 'directions).',
 'same',
 'punctuation',
 '(¶),',
 'an',
 'at',
 'had',
 'the',
 'classical',
 'new',
 'manuscripts',
 'divide',
 'dividers',
 'Middle',
 'The',
 '(alternating',
 'time,',
 'text',
 'writing',
 'space',
 'Over',
 'of',
 'written',
 'has',
 'no',
 'direction',
 'inline',
 'can',
 'leaf',
 'first',
 'Greek',
 'little',
 'beginning',
 'underscore',
 'terminal',
 'boustrophedon')

In [89]:
data = input("input a paragraph: ")
list1 = data.split(" ")
uniqueSet = set(list1)
dict1= dict.fromkeys(uniqueSet,"Khitish")
tuple1 = tuple(dict1.values())
list2 = list(dict1.keys())

input a paragraph: ajigfja hdioahdako  ajdijhaiodhao padhioahdfko apdfohaidfhioa poadhpiahpio pojpoip[jka;osdj

In [94]:
list2

['',
 'pojpoip[jka;osdj',
 'ajdijhaiodhao',
 'ajigfja',
 'hdioahdako',
 'poadhpiahpio',
 'apdfohaidfhioa',
 'padhioahdfko']

In [95]:
d= {"company":"ineuron", "course": "Full stack data science", 'year':2021}

In [96]:
for i in d:
    if i == 'year':
        if d[i] >2021:
            print("year is fine")
        else: 
            d[i]=2022

In [97]:
d

{'company': 'ineuron', 'course': 'Full stack data science', 'year': 2022}

In [98]:
{i:i*i for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}